**/.vs
**/Debug
**/x64
paralel_midterm_project.vcxproj
paralel_midterm_project.vcxproj.filters
paralel_midterm_project.vcxproj.user
CppProperties.json
parallel_final_project.vcxproj.user
parallel_final_project.vcxproj.filters
parallel_final_project.vcxproj
